/* #################### 全局 #################### */


html, body, #main {
	color: #555;
	height: 100%;
	width:100%;
}
body{
	margin-bottom:190px;
	padding-bottom:200px;
}

.Black{
	height: auto;
}
ol{
	padding-left: 35px;
	
}
nav {
	height: 50px;
	/*background: #b9e1b1;*/
}

#content {
	height: 100%;
    margin-left:28.5%;
	margin-bottom: 100px;
	margin-right: 150px;
	
		/*background: #f9f7ed;*/
}
/* #################### 全局 #################### */

/* #################### 导航 #################### */
nav #menu {
	float: right;
	padding-right: 20px;
}
nav ul li {
	float: left;
	padding: 10px;
	list-style: none;
}
nav ul li a{
	color: #555;
	font-size: 12px;
	text-decoration: none;
}
nav ul li a:hover {
	border-bottom: 10px solid;
}
/* #################### 导航 #################### */

/* #################### 侧边栏 #################### */
/* ##########展示########## 侧边栏 #################### */

/* #################### 文章 #################### */
/* 作者 时间 相关 */


/* Image alignment classes */
#content img.alignleft {display:inline; float:left; margin:5px 15px 5px 0;}
#content img.alignright {float:right; margin:5px 0 5px 15px;}
#content img.aligncenter {display:block; margin:2px auto;}
#content img.border {border:1px solid #ccc;}

/* Various classes */
.centered {text-align:center;}
.hide {display:none;}
.clear {clear:both; width:980px; visibility:hidden;}

/* Font options */
.georgia {font: 92% Georgia,serif;}
.times {font: 92% Times New Roman,serif;}
.helvetica {font:84% Helvetica,sans-serif;}
.verdana {font:84% Verdana,sans-serif;}
.arial {font:84% Arial,sans-serif;}
.courier {font:84% Courier,monospace;}


body {margin:0; padding:0; font:92% Tahoma,sans-serif; background:#fefefe url(images/background.jpg) top left repeat-x; color:#555; text-align:left; line-height:1.6em;}
#wrap {text-align:left;!!  }
body{
	font-size:100%;
}

#margin-top-h2{
	margin-top: 40px;
	}
/* Header */
#headerfont{
	color:white;
	font-size: 2.2em;
	margin-left:4 0px;

	height: 110px;
	padding-left: 320px;
	margin-top: 20px;
}
#headerfontEn{
	color:white;
	font-size: 15px;
	font-style: Adobe Hebrew Bold;
	margin-top:12px;
	padding-left:38px;
}
#headerfontChinese{
	padding-left: 6.5px;
	display:inline
}
/*
#backTop {display:none; width: 45px;height: 45px;position: fixed;
	right: 50px;bottom: 330px; cursor: pointer;
	background: url(images/backtop.png) no-repeat; z-index: 1;}

*/




#header2{width: 100%;height: 112px;background-color:rgb(14, 71, 156);top:0px;}
#header1 { height:90px;padding-right: 80px;padding-left:10px; padding-top: 15px;}
#header { height:110px;padding-right: 80px;padding-left: 280px;margin-top: 25px;}
#headerimage {float:right; width:500px; height:160px; margin:0 0 15px 0; overflow:hidden;}
#title {width:460px; text-align:left;}
h1 {margin:0 auto; padding:0; font-size:2.4em; font-weight:700; letter-spacing:-1px; line-height:2.2em; text-shadow:#ddd;}
h1 a {font-weight:600; text-decoration:none;}
h1 a:hover {color:#222; text-decoration:none;}
.slogan {color:#555; font-size:1.4em; margin:0 0 15px 0; padding:0; text-shadow:#ccc 2px 2px 8px;}


/* HTML Tags */
a {font-weight:400;}

a img {border:0;}
h2 {clear:left; margin:0 0 12px 0; padding:0 0 8px; font-size:1.25em; font-weight:700; border-bottom:1px solid #ddd; text-shadow:#ccc 2px 2px 8px;}
h3 {clear:left; font-size:1.1em; font-weight:700; margin:0 0 10px 0; padding:2px 0;  text-shadow:#ccc 2px 2px 6px;}
h4 {margin-bottom:5px;padding-left: 18px;font-size: 13px;}
p {margin:0 0 20px 0;  padding-left:3.0em; font-size:14px;}

#h2p{
	clear:left;
	padding-left: 3px;
}
#funded{
	font-size: 25px;
}
ul {margin:0 0 15px 20px; padding:0;}
#content li {margin:10px 0 10px 0; padding:0 0 0px 5px;padding-left: 20px; text-align: justify;font-size: 14px;} 
#Research li{
	list-style: none;
	background:url(images/li.gif) no-repeat 0px 10px; 
	margin-right: 20px;
	margin-left: 20px;

}
FundedProject{
	counter-reset: subsection;
}

FP:before{
	counter-increment:subsection;
	content:counter(subsection)"." ;
}
#ProfessionalActivties li{
	list-style: none;
	background:url(images/li.gif) no-repeat 0px 10px; 
	margin-right: 20px;
	margin-left: 20px;
}
#News li{
	list-style: none;
	background:url(images/li.gif) no-repeat 0px 10px; 
	margin-right: 20px;
	margin-left: 20px;
	width: 96%;



}

#Journal li
{
	list-style: none;
	
	background:url(images/jiantou.jpg) no-repeat 0px 7px; 
	margin-left: 10px;
	

}
#Journal  li h3{
	margin-left: 8px;
}

#Journalnext li{
	list-style: none;
	background:url(images/li.gif) no-repeat 0px 10px; 
	margin-left: 42px;
	
}
#educationli li{
	list-style: none;
	background:url(images/li.gif) no-repeat 0px 10px; 
	margin-left: 55px;
}
#education li{
	list-style: none;
	background:url(images/jiantou.jpg) no-repeat 0px 5px; 
	margin-right: 20px;
	margin-left: 20px;
	
	width: 96%;




}
#education1 li{
	list-style: none;
	background:url(images/jiantou.jpg) no-repeat 0px 5px;
	margin-left: 20px; 
	width:96%;
	margin-bottom: 0px;
	margin-top: 20px;
}
#educationli  p{
	margin:0 0 4px 0;  padding-left:2.9em;

}

#education h4{
	padding-left: 8px;
}
#education1 h4{
	padding-left: 8px;
}
#education p{
	
	padding-left: 4.5em;

}
#supervision ul{list-style:none; padding:0; margin:0; margin-left:50px;}
#supervision  li
{
	list-style: none;
	background:url(images/li.gif) no-repeat 0px 10px; 
	margin-right: 20px;
	margin-left: 20px;
	width: 95%;
	margin-top: 20px;
	margin-bottom: 0px;

	
}
#supervisions  li
{
	list-style: none;
	background:url(images/li.gif) no-repeat 0px 10px; 
	margin-right: 20px;
	margin-left: 20px;
	width: 96%;
	margin-bottom: 0px;
   
}
#supervisions p{
	margin:0 0 4px 0;  padding-left:3.2em;
}
#supervision p{
	margin:0 0 4px 0;  margin-left: 0.3em;
}
#index  li
{
	list-style: none;
	background:url(images/li.gif) no-repeat 0px 10px; 
	margin-right: 20px;
	margin-left: 20px;
}
#index p{
	margin-left: 3.5px;
}
#back {
	position: fixed;
	width: 30px;
	height: 30px;
	line-height: 30px;
	right: 25px;
	bottom: 150px;
	display: none;
	font-weight: 5px;
	cursor:pointer;
	background:url(images/backtop.png)

	
}

#back a{
	display: none;
	text-decoration: none;

}
#back a,.back span{display:none; text-decoration:none}
#back:hover{cursor:pointer} 
#back:hover a.now{cursor:pointer; position:absolute; top:0; width:100%; height:100%;
z-index:100; left:0; display:block;}
#back:hover span{ display:block;position:absolute; bottom:0; left:0;color:#FFF;width: 120px;background-color:black;
	z-index:5;filter:alpha(opacity=60);-moz-opacity:10.5;opacity: 10.5;}

#supervision p{
	padding-left: 2.8em;
}
#headerp{
	margin:0 0 10px 0;  
	text-align: justify;
	margin-left: 40px;
	font-size: 14px;

}

#sidebar h2 {font-size:0.9.0em; padding-bottom:5px; border-bottom:1px solid #ddd; margin:15px 0 10px;}
#sidebar ul {list-style:none; margin:0 0 15px 0;}
#sidebar li {padding:0; margin:0;}
#sidebar ul {width:100%; padding:0; margin:0 0 20px 0; border-top:0px;}/*调整目录上边线及其距离*/
/*调整目录字体及其显示样式*/
#sidebar ul li a {display:block; text-decoration:none; padding:7px 0 0 15px; margin:0; text-align: left;padding-left:5px;font-size:0.85em; border-bottom: 1px solid #ddd; font-weight:700; text-shadow:#ddd 2px 2px 4px;}
#sidebar ul li a:hover {color:#333; text-decoration:none; border-bottom: 1px solid #ddd;}/*调整目录下边线及其距离*/
#sidebar ul li a.active {color:#333;}
#sidebar ul ul li a {padding:2px 0 2px 15px; margin:0; font-size:1.0em; font-weight:400;}
#sidebar {
	width: 12%;

    background:white;
	height: 0px;
	margin-left: 150px;
	margin-top: 50px;
	

}


#Contactfont{
	margin-top: 10px;

}
#Contactfont p{
	font-size: 14px;
}
#Contactback{
font-size: 2px;
}




/* #################### 文章 #################### */

/* #################### 点击目录动画 #################### */

/* #################### 点击目录动画 #################### */

/* #################### 文章索引 #################### */


/* #################### 文章索引 #################### */

/* #################### 主页 #################### 

#articleList {
	position: absolute;
}

#articleList .article-li {
	margin: 20px;
	height: 200px;
	border-radius: 5px;
	box-shadow: 1px 1px 8px #999;
	list-style: none;
	border: 1px solid #999;
}

#articleList .article-digest * {
	word-wrap: break-word;
	display: inline;
	font-size: 12px;
	color: #555;
	text-decoration: none;
	cursor:auto;
	border-radius: none;
	box-shadow: none;
}

#articleList .article-digest{
	padding: 30px;
    position: relative;
    top: 35px;
    width: 85%;
}

#articleList .article-date{
	position: relative;
	background: #e06c75;
	color: #f9f7ed;
	padding: 10px;
	top: -5px;
	border-radius: 2px;
	margin-left: 30px;
}

#articleList .article-read {
    position: absolute;
    background: #e06c75;
    color: #f9f7ed;
    padding: 10px;
    border-radius: 2px;
    right: 15px;
    margin-top: 140px;
    text-decoration: none;
    z-index: 1;
}

#articleList .article-title {
	position: relative;
	color: #555;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
    top: 50px;
    right: 110px;
}*/

#footer1{
	height: 112px; background-color:rgb(88, 87, 87);color: white;  background-size: cover;
	margin: 0;left: 0;right: 0px; font-size: 12px;line-height:1.8rem;width: 100%;bottom: 0px;
}
#leftfooter
{
	display:block; margin-left: 80px;width:340px; 
		margin-top: 25px; text-align: left;float: left;position: absolute;
}
#footer1 p{
	padding-left: 4.8em;
}
#rightfooter{
	display:block;width:500px; text-align:right;float: right;margin:25px 40px 0px 40px;

}

/* #################### 主页 #################### */


/* #################### 自适应 #################### */

/* 当浏览器窗口不超过最大800px时(意思就是小于800px时) */

@media screen and (max-width: 800px) {
	html{
		height: auto;
	}
	#wrap{
		margin-bottom: 150px;
	
	}
	#sidebar {
		margin-left:40px;
		width: 15%;
	}
	.Black{
		height: auto !important;
	}
	#content {
		height: 100%;
		margin-left:28%;
		margin-bottom: 100px;
		margin-right: 40px;
	
			/*background: #f9f7ed;*/
	}
	#header1 {
		padding-left:0px;
	}
	#header {
		padding-left:220px;
	}
	

	canvas#live2dcanvas {
		display: none;
	}
	
#footer1{
	height: 112px; background-color:rgb(88, 87, 87);color: white;width: 100%;
	margin: 0;left: 0;right: 0px;bottom: 0; font-size: 12px;line-height:1.8rem;bottom: 0px;
}
#leftfooter
{
	display:block; margin-left: 40px;width:340px; 
		margin-top: 25px; text-align: left;float: left;position: absolute;
}
#footer1 p{
	padding-left: 4.8em;
}
#rightfooter{
	display:block;width:500px;text-align:right;float: right;margin:25px 40px 0px 40px;

}
}

/*竖屏*/
@media screen and (max-width: 700px) {

	/*#wrap{
		margin-bottom: 150px;
	}*/
	html{
		position: relative;
		height: auto;
	}
	.Black{
		height: auto;
	}
	#footer1{
		position: absolute;
		margin-bottom: 0px;

	}
	#wrap{
		height: 100%;
		margin-bottom: 150px;
	}
	#content {
		height: 100%;
		margin-left:28%;
		margin-bottom: 100px;
		margin-right: 40px;
	
			/*background: #f9f7ed;*/
	}
	#sidebar {
		margin-left:40px;
		width: 15%;
	}
}
@media all and (orientation : portrait) {
html{
	position: relative;
	/* height: auto; */
}
.Black{
	height: auto;
}
#footer1{
	position: absolute;
	margin-bottom: 0px;
}
#wrap{
	height: 100%;
}
	#sidebar {
		margin-left: 40px;
		width:15%;

	}

	#content {
		height: 100%;
		margin-left:28%;
		margin-bottom: 100px;
		margin-right: 40px;
	
			/*background: #f9f7ed;*/
	}

	#header1 {
		padding-left:0px;
	}
	#header {
		padding-left:200px;
	}


	canvas#live2dcanvas {
		display: none;
	}
	
#footer1{
	height: 112px; background-color:rgb(88, 87, 87);color: white;width: 100%;
	margin: 0;left: 0;right: 0px;bottom: 0; font-size: 12px;line-height:1.8rem;
}
#leftfooter
{
	display:block; margin-left: 40px;width:340px; 
		margin-top: 25px; text-align: left;float: left;position: absolute;
}
#footer1 p{
	padding-left: 4.8em;
}
#rightfooter{
	display:block;width:500px; text-align:right;float: left;float: right;margin:25px 40px 0px 40px;

}
}

/* #################### 自适应 #################### */





